@import "../../sass/index.scss";

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0 1rem 0;
    align-items: center;

    &--links {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}